<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookMoment.mapper.MainMapper">
	
	<select id="mainTest2" resultType="map">
        select * from members
    </select>
    
    <select id="mainTest" resultType="com.bookMoment.dto.MainDTO">
        select * from members
    </select>

	<!--  
    <select id="findById" parameterType="int" resultType="User">
        SELECT * FROM users WHERE id = #{id}
    </select>
    -->
</mapper>
